Repository Zeeeepa/LifeTrace: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc-free-todo-frontend, check-frontend-code-lines, check-backend-code-lines, check-tauri-rust-code-lines, rustfmt, clippy

tsc-free-todo-frontend:
  name: TypeScript type check (free-todo-frontend)
  entry: bash -c 'cd free-todo-frontend && pnpm run type-check'
  language: system
  pass_filenames: false

check-frontend-code-lines:
  name: Check frontend TS/TSX code lines (max 500)
  entry: node free-todo-frontend/scripts/check_code_lines.js --include apps,components,electron,lib --exclude lib/generated
  language: system
  pass_filenames: true

check-backend-code-lines:
  name: Check backend Python code lines (max 500)
  entry: uv run python lifetrace/scripts/check_code_lines.py --include lifetrace --exclude lifetrace/__pycache__,lifetrace/dist,lifetrace/migrations/versions
  language: system
  pass_filenames: true

check-tauri-rust-code-lines:
  name: Check Tauri Rust code lines (max 500)
  entry: node free-todo-frontend/scripts/check_rust_code_lines.js --include src-tauri/src --exclude src-tauri/target
  language: system
  pass_filenames: true

rustfmt:
  name: Rust format (rustfmt)
  entry: python scripts/precommit_rustfmt.py
  language: python
  pass_filenames: false

clippy:
  name: Rust linter (clippy)
  entry: python scripts/precommit_clippy.py
  language: python
  pass_filenames: false

style(BottomDock): adjust dark background opacity for improved visibility
  free-todo-frontend/components/layout/BottomDock.tsx
Due: tsc-free-todo-frontend, check-frontend-code-lines

feat(todos): add end time fields to todo schemas for create, response, and update
  free-todo-frontend/lib/generated/schemas/index.ts
  free-todo-frontend/lib/generated/schemas/todoCreate.ts
  free-todo-frontend/lib/generated/schemas/todoCreateEndTime.ts
  free-todo-frontend/lib/generated/schemas/todoResponse.ts
  free-todo-frontend/lib/generated/schemas/todoResponseEndTime.ts
  free-todo-frontend/lib/generated/schemas/todoUpdate.ts
  free-todo-frontend/lib/generated/schemas/todoUpdateEndTime.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

feat(database): implement Alembic migration support in DatabaseBase class
  lifetrace/storage/database_base.py
Due: check-backend-code-lines

feat(migrations): add migration to merge heads for todos end_time and icalendar fields
  lifetrace/migrations/versions/merge_heads_todos_20260131.py
  lifetrace/storage/__init__.py
Due: check-backend-code-lines

chore(.gitignore): add ruff_cache to ignore list
  .gitignore
Due: none

已把 Phoenix 导出器初始化拆分为创建与注册两步，降低复杂度并保留原有日志与异常处理，避免 Ruff 的 C901 报错。修改在 `lifetrace/observability/setup.py`。
  lifetrace/observability/setup.py
Due: check-backend-code-lines

feat(observability): enhance Phoenix exporter configuration with timeout and failure handling
  lifetrace/config/default_config.yaml
  lifetrace/observability/config.py
Due: check-backend-code-lines

feat(git): add Git commit tracking to backend and health check
  free-todo-frontend/electron/backend-server.ts
  free-todo-frontend/electron/git-info.ts
  free-todo-frontend/scripts/dev-with-auto-port.js
  lifetrace/routers/health.py
Due: tsc-free-todo-frontend, check-frontend-code-lines, check-backend-code-lines

Squashed commit of the following:
  free-todo-frontend/scripts/dev-with-auto-port.js
  scripts/link_worktree_deps_here.ps1
  scripts/link_worktree_deps_here.sh
  scripts/new_worktree.py
Due: none

Squashed commit of the following:
  free-todo-frontend/apps/calendar/CalendarPanel.tsx
  free-todo-frontend/apps/calendar/components/DayColumn.tsx
  free-todo-frontend/apps/calendar/components/DraggableTodo.tsx
  free-todo-frontend/apps/calendar/components/QuickCreateBar.tsx
  free-todo-frontend/apps/calendar/components/QuickCreatePopover.tsx
  free-todo-frontend/apps/calendar/views/DayView.tsx
  free-todo-frontend/apps/calendar/views/MonthView.tsx
  free-todo-frontend/apps/calendar/views/WeekView.tsx
Due: tsc-free-todo-frontend, check-frontend-code-lines

refactor(calendar): 移除 QuickCreatePopover 的事件捕获处理
  free-todo-frontend/apps/calendar/CalendarPanel.tsx
Due: tsc-free-todo-frontend, check-frontend-code-lines

Squashed commit of the following:
  pyproject.toml
Due: none

fix(pre-commit): 更新文件匹配规则以包含 scripts 目录
  .pre-commit-config.yaml
Due: none

feat(calendar): 增强日历组件，支持月份滚动和当前月份选择功能
  free-todo-frontend/apps/calendar/CalendarPanel.tsx
  free-todo-frontend/apps/calendar/components/DayColumn.tsx
  free-todo-frontend/apps/calendar/utils.ts
  free-todo-frontend/apps/calendar/views/MonthScroller.tsx
  free-todo-frontend/apps/calendar/views/MonthView.tsx
  free-todo-frontend/apps/calendar/views/WeekView.tsx
Due: tsc-free-todo-frontend, check-frontend-code-lines

fix(i18n): 更新日期格式为更易读的形式
  free-todo-frontend/lib/i18n/messages/en.json
  free-todo-frontend/lib/i18n/messages/zh.json
Due: none

feat(calendar): 增加平滑滚动到指定月份的功能
  free-todo-frontend/apps/calendar/CalendarPanel.tsx
  free-todo-frontend/apps/calendar/hooks/useMonthScroll.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

feat(observability): 添加 Phoenix 导出器及其熔断和自动恢复逻辑
  lifetrace/config/default_config.yaml
  lifetrace/observability/config.py
  lifetrace/observability/exporters/__init__.py
  lifetrace/observability/exporters/phoenix_exporter.py
  lifetrace/observability/setup.py
Due: check-backend-code-lines

feat(storage): 增加对外部工具ID的验证，确保选中的工具有效
  free-todo-frontend/lib/store/ui-store/storage.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

feat: 更新 Ruff 配置，增强代码检查规则和忽略项
  pyproject.toml
Due: none

feat(calendar): enhance timeline view with new features and utilities
  free-todo-frontend/apps/calendar/CalendarPanel.tsx
  free-todo-frontend/apps/calendar/components/DraggableTodo.tsx
  free-todo-frontend/apps/calendar/components/FloatingTodoCard.tsx
  free-todo-frontend/apps/calendar/components/TimelineColumn.tsx
  free-todo-frontend/apps/calendar/components/TimelineSlot.tsx
  free-todo-frontend/apps/calendar/components/TimelineTodoCard.tsx
  free-todo-frontend/apps/calendar/types.ts
  free-todo-frontend/apps/calendar/utils.ts
  free-todo-frontend/apps/calendar/views/DayView.tsx
  free-todo-frontend/apps/calendar/views/WeekView.tsx
  free-todo-frontend/lib/dnd/handlers.ts
  free-todo-frontend/lib/dnd/types.ts
  free-todo-frontend/lib/i18n/messages/en.json
  free-todo-frontend/lib/i18n/messages/zh.json
Due: tsc-free-todo-frontend, check-frontend-code-lines

已按你的 3 点要求调整：周/日视图表头改为 sticky，时间网格只显示整点分隔线但仍按 15min 吸附，未定时（无日期）任务不再出现在日/周视图里。 另外我把“全天区”改成仅展示“有日期但无具体时间（date-only deadline）”的任务，避免把没有日期的任务带进日历里。
  free-todo-frontend/apps/calendar/components/TimelineSlot.tsx
  free-todo-frontend/apps/calendar/utils.ts
  free-todo-frontend/apps/calendar/views/DayView.tsx
  free-todo-frontend/apps/calendar/views/WeekView.tsx
Due: tsc-free-todo-frontend, check-frontend-code-lines

feat(git-hooks): 添加 post-checkout 钩子以链接工作区依赖
  scripts/git-hooks/post-checkout
Due: none

Squashed commit of the following:
  lifetrace/core/module_registry.py
  lifetrace/jobs/job_manager.py
  lifetrace/routers/chat/message_todo_extraction.py
  lifetrace/routers/config.py
  lifetrace/server.py
  lifetrace/util/prompt_loader.py
Due: check-backend-code-lines

feat: 修改 BackendReadyGate 组件，优化加载状态显示逻辑
  free-todo-frontend/components/common/ui/BackendReadyGate.tsx
Due: tsc-free-todo-frontend, check-frontend-code-lines

feat(theme): 更新配色主题，增加 Catppuccin、Nord 和 Solarized 选项
  free-todo-frontend/app/globals.css
  free-todo-frontend/components/common/theme/ThemeStyleSelect.tsx
  free-todo-frontend/lib/i18n/messages/en.json
  free-todo-frontend/lib/i18n/messages/zh.json
  free-todo-frontend/lib/store/color-theme.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

Squashed commit of the following:
  lifetrace/core/dependencies.py
  lifetrace/jobs/job_manager.py
  lifetrace/jobs/ocr_config.py
  lifetrace/jobs/ocr_processor.py
Due: check-backend-code-lines

feat: 添加 Git hooks 配置脚本，支持 pre-commit 和 post-checkout
  .githooks/post-checkout
  .githooks/pre-commit
  .github/CONTRIBUTING.md
  .github/CONTRIBUTING_CN.md
  .github/PRE_COMMIT_GUIDE.md
  .github/PRE_COMMIT_GUIDE_CN.md
  README.md
  README_CN.md
  scripts/setup_hooks_here.ps1
  scripts/setup_hooks_here.sh
Due: none

chore: update wechat.png asset for improved visual consistency
  .github/assets/wechat.png
Due: none

feat: 更新 API 标题和描述，提升项目识别度
  lifetrace/server.py
Due: check-backend-code-lines

已把 Bandit 接进来：新增 dev 依赖、配置文件，以及 GitHub Actions 流程并设置为先不阻断（`continue-on-error: true`）。这样本地可以先跑，CI 先观察结果不挡合并。
  .github/workflows/bandit.yml
  bandit.yaml
  pyproject.toml
Due: none

feat: 添加 Bandit 安全扫描配置，更新 pre-commit 和 bandit.yaml，优化文件哈希计算方式
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  bandit.yaml
  lifetrace/jobs/ocr_processor.py
  lifetrace/jobs/proactive_ocr/capture.py
  lifetrace/jobs/proactive_ocr/service.py
  lifetrace/jobs/recorder_capture.py
  lifetrace/jobs/todo_recorder.py
  lifetrace/llm/ocr_todo_extractor.py
  lifetrace/llm/vector_db.py
  lifetrace/migrations/versions/add_text_hash_to_ocr_results.py
  lifetrace/migrations/versions/d2f7a9c6b1a4_add_icalendar_fields_to_todos.py
  lifetrace/observability/exporters/file_exporter.py
  lifetrace/routers/health.py
  lifetrace/services/audio_extraction_service.py
  lifetrace/storage/ocr_manager.py
  lifetrace/util/utils.py
  pyproject.toml
  scripts/new_worktree.py
  scripts/precommit_clippy.py
  scripts/precommit_rustfmt.py
  uv.lock
Due: check-backend-code-lines

Squashed commit of the following:
  pyproject.toml
  pyrightconfig.json
  uv.lock
Due: none

Squashed commit of the following:
  free-todo-frontend/app/home/HomePageClient.tsx
  free-todo-frontend/app/home/HomePageEntry.tsx
  free-todo-frontend/app/page.tsx
  free-todo-frontend/components/common/ui/FrontendBoot.tsx
Due: tsc-free-todo-frontend, check-frontend-code-lines

Squashed commit of the following:
  free-todo-frontend/apps/settings/SettingsPanel.tsx
  free-todo-frontend/apps/settings/components/PanelSwitchesSection.tsx
  free-todo-frontend/apps/settings/components/SettingsCategoryPanel.tsx
  free-todo-frontend/apps/settings/components/SettingsSearchAction.tsx
  free-todo-frontend/apps/settings/components/SettingsSection.tsx
  free-todo-frontend/apps/settings/components/VersionInfoSection.tsx
  free-todo-frontend/apps/settings/components/index.ts
  free-todo-frontend/apps/settings/hooks/useSettingsSearchMatchStats.ts
  free-todo-frontend/lib/hooks/useOnboardingTour.ts
  free-todo-frontend/lib/i18n/messages/en.json
  free-todo-frontend/lib/i18n/messages/zh.json
Due: tsc-free-todo-frontend, check-frontend-code-lines

fix: 更新底部工具栏为底部 Dock，修正相关描述
  free-todo-frontend/lib/i18n/messages/zh.json
Due: none

Path conditions:
  tsc-free-todo-frontend: any of: ^free-todo-frontend/.*\.(ts|tsx)$
  check-frontend-code-lines: any of: ^free-todo-frontend/.*\.(ts|tsx)$
  check-backend-code-lines: any of: ^lifetrace/.*\.py$
  check-tauri-rust-code-lines: any of: ^free-todo-frontend/src-tauri/.*\.rs$
  rustfmt: any of: ^free-todo-frontend/src-tauri/.*\.rs$
  clippy: any of: ^free-todo-frontend/src-tauri/.*\.rs$
