Repository Zeeeepa/LifeTrace: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc-free-todo-frontend, check-frontend-code-lines, check-backend-code-lines, check-tauri-rust-code-lines, rustfmt, clippy

tsc-free-todo-frontend:
  name: TypeScript type check (free-todo-frontend)
  entry: bash -c 'cd free-todo-frontend && pnpm run type-check'
  language: system
  pass_filenames: false

check-frontend-code-lines:
  name: Check frontend TS/TSX code lines (max 500)
  entry: node free-todo-frontend/scripts/check_code_lines.js --include apps,components,electron,lib --exclude lib/generated
  language: system
  pass_filenames: true

check-backend-code-lines:
  name: Check backend Python code lines (max 500)
  entry: uv run python lifetrace/scripts/check_code_lines.py --include lifetrace --exclude lifetrace/__pycache__,lifetrace/dist,lifetrace/migrations/versions
  language: system
  pass_filenames: true

check-tauri-rust-code-lines:
  name: Check Tauri Rust code lines (max 500)
  entry: node free-todo-frontend/scripts/check_rust_code_lines.js --include src-tauri/src --exclude src-tauri/target
  language: system
  pass_filenames: true

rustfmt:
  name: Rust format (rustfmt)
  entry: python scripts/precommit_rustfmt.py
  language: python
  pass_filenames: false

clippy:
  name: Rust linter (clippy)
  entry: python scripts/precommit_clippy.py
  language: python
  pass_filenames: false

test(backend): add todo ical regression tests
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  pyproject.toml
  tests/conftest.py
  tests/test_icalendar_service.py
  tests/test_todo_serialization.py
  tests/test_todo_service_mapping.py
  uv.lock
Due: none

已和 `dev-liji` 同步（fast‑forward）。在此基础上我补了 VJOURNAL 兼容所需的 UID 字段与迁移。
  lifetrace/migrations/versions/b53d9b7c8e21_add_uid_to_journals.py
  lifetrace/schemas/journal.py
  lifetrace/services/journal_service.py
  lifetrace/storage/database_base.py
  lifetrace/storage/journal_manager.py
  lifetrace/storage/models.py
Due: check-backend-code-lines

Updated pytest to 9.0.2 (lock updated) and added a minimal pair of regression tests for time zone mapping and reminder offset normalization.
  pyproject.toml
  tests/test_todo_serialization.py
  tests/test_todo_service_mapping.py
  uv.lock
Due: none

Squashed commit of the following:
  .github/workflows/dependency-review.yml
  .github/workflows/dev-build-verify.yml
  .github/workflows/pre-commit.yml
  .github/workflows/tauri-release.yml
Due: none

chore: upgrade python dependency
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump virtualenv in the uv group across 1 directory
  .github/workflows/pre-commit.yml
Due: none

Squashed commit of the following:
  .github/workflows/dev-build-verify.yml
  .github/workflows/pre-commit.yml
Due: none

chore: update readme
  .github/INSTALL.md
  .github/INSTALL_CN.md
  README.md
  README_CN.md
  lifetrace/migrations/MIGRATIONS.md
  lifetrace/migrations/README
Due: none

Squashed commit of the following:
  free-todo-frontend/src-tauri/tauri.island.script.json
  free-todo-frontend/src-tauri/tauri.web.script.json
Due: none

feat(reminder): schedule reminders and queue notifications
  free-todo-frontend/app/home/HomePageClient.tsx
  free-todo-frontend/components/island/IslandHeader.tsx
  free-todo-frontend/components/layout/AppHeader.tsx
  free-todo-frontend/components/layout/FullscreenHeader.tsx
  free-todo-frontend/components/notification/HeaderIsland.tsx
  free-todo-frontend/lib/services/notification-poller.ts
  free-todo-frontend/lib/store/notification-store.ts
  lifetrace/config/default_config.yaml
  lifetrace/jobs/deadline_reminder.py
  lifetrace/jobs/job_manager.py
  lifetrace/jobs/scheduler.py
  lifetrace/llm/agno_tools/tools/conflict_tools.py
  lifetrace/routers/notification.py
  lifetrace/routers/scheduler.py
  lifetrace/services/todo_service.py
  lifetrace/storage/notification_storage.py
Due: tsc-free-todo-frontend, check-frontend-code-lines, check-backend-code-lines

chore(frontend): regenerate orval
  free-todo-frontend/lib/generated/chat/chat.ts
  free-todo-frontend/lib/generated/journals/journals.ts
  free-todo-frontend/lib/generated/schemas/addMessageRequest.ts
  free-todo-frontend/lib/generated/schemas/chatMessage.ts
  free-todo-frontend/lib/generated/schemas/chatMessageWithContext.ts
  free-todo-frontend/lib/generated/schemas/chatMessageWithContextEventContext.ts
  free-todo-frontend/lib/generated/schemas/chatResponse.ts
  free-todo-frontend/lib/generated/schemas/chatResponsePerformance.ts
  free-todo-frontend/lib/generated/schemas/chatResponseQueryInfo.ts
  free-todo-frontend/lib/generated/schemas/chatResponseRetrievalInfo.ts
  free-todo-frontend/lib/generated/schemas/extractedMessageTodo.ts
  free-todo-frontend/lib/generated/schemas/extractedTodo.ts
  free-todo-frontend/lib/generated/schemas/floatingCaptureResponse.ts
  free-todo-frontend/lib/generated/schemas/getChatHistoryApiChatHistoryGetParams.ts
  free-todo-frontend/lib/generated/schemas/getQuerySuggestionsApiChatSuggestionsGetParams.ts
  free-todo-frontend/lib/generated/schemas/index.ts
  free-todo-frontend/lib/generated/schemas/journalAutoLinkCandidate.ts
  free-todo-frontend/lib/generated/schemas/journalAutoLinkRequest.ts
  free-todo-frontend/lib/generated/schemas/journalAutoLinkResponse.ts
  free-todo-frontend/lib/generated/schemas/journalCreate.ts
  free-todo-frontend/lib/generated/schemas/journalGenerateRequest.ts
  free-todo-frontend/lib/generated/schemas/journalGenerateResponse.ts
  free-todo-frontend/lib/generated/schemas/journalResponse.ts
  free-todo-frontend/lib/generated/schemas/journalUpdate.ts
  free-todo-frontend/lib/generated/schemas/lifetraceSchemasFloatingCaptureExtractedTodo.ts
  free-todo-frontend/lib/generated/schemas/lifetraceSchemasFloatingCaptureExtractedTodoTimeInfo.ts
  free-todo-frontend/lib/generated/schemas/messageTodoExtractionRequest.ts
  free-todo-frontend/lib/generated/schemas/messageTodoExtractionRequestMessagesItem.ts
  free-todo-frontend/lib/generated/schemas/messageTodoExtractionResponse.ts
  free-todo-frontend/lib/generated/schemas/newChatRequest.ts
  free-todo-frontend/lib/generated/schemas/planQuestionnaireRequest.ts
  free-todo-frontend/lib/generated/schemas/planSummaryRequest.ts
  free-todo-frontend/lib/generated/schemas/planSummaryRequestAnswers.ts
  free-todo-frontend/lib/generated/schemas/todoExtractionResponse.ts
  free-todo-frontend/lib/types/index.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

fix(backend): restore missing alembic revision
  lifetrace/migrations/versions/merge_automation_ical_001.py
  lifetrace/migrations/versions/merge_journal_uid_automation_20260204.py
Due: check-backend-code-lines

chore(config): ignore dist-backend in pytest
  pyproject.toml
Due: none

chore: update pyproject.toml and cargo.toml
  free-todo-frontend/src-tauri/Cargo.toml
  pyproject.toml
Due: none

chore: use Orval to update journal interfaces
  free-todo-frontend/lib/generated/journals/journals.ts
  free-todo-frontend/lib/generated/notifications/notifications.ts
  free-todo-frontend/lib/generated/schemas/journalCreate.ts
  free-todo-frontend/lib/generated/schemas/journalResponse.ts
  free-todo-frontend/lib/generated/schemas/journalUpdate.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

refactor(frontend): simplify diary panel and use orval
  free-todo-frontend/apps/diary/DiaryHeader.tsx
  free-todo-frontend/apps/diary/DiaryPanel.tsx
  free-todo-frontend/apps/diary/JournalHistory.tsx
  free-todo-frontend/apps/settings/SettingsPanel.tsx
  free-todo-frontend/apps/settings/components/JournalSettingsSection.tsx
  free-todo-frontend/apps/settings/components/index.ts
  free-todo-frontend/lib/i18n/messages/en.json
  free-todo-frontend/lib/i18n/messages/zh.json
  free-todo-frontend/lib/query/index.ts
  free-todo-frontend/lib/query/journals.ts
  free-todo-frontend/lib/types/index.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

fix: diable difyConfigSection settings
  free-todo-frontend/apps/settings/SettingsPanel.tsx
Due: tsc-free-todo-frontend, check-frontend-code-lines

Squashed commit of the following:
  free-todo-frontend/app/home/HomePageClient.tsx
  free-todo-frontend/apps/settings/SettingsPanel.tsx
  free-todo-frontend/apps/settings/components/NotificationPermissionSection.tsx
  free-todo-frontend/apps/settings/components/index.ts
  free-todo-frontend/components/island/IslandHeader.tsx
  free-todo-frontend/components/layout/AppHeader.tsx
  free-todo-frontend/components/layout/FullscreenHeader.tsx
  free-todo-frontend/lib/i18n/messages/en.json
  free-todo-frontend/lib/i18n/messages/zh.json
  free-todo-frontend/lib/store/notification-store.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

feat(frontend): bootstrap backend runtime
  free-todo-frontend/components/common/ui/BackendReadyGate.tsx
  free-todo-frontend/package.json
  free-todo-frontend/pnpm-lock.yaml
  free-todo-frontend/src-tauri/Cargo.toml
  free-todo-frontend/src-tauri/src/backend.rs
  free-todo-frontend/src-tauri/src/backend_log.rs
  free-todo-frontend/src-tauri/src/backend_python.rs
  free-todo-frontend/src-tauri/src/lib.rs
Due: tsc-free-todo-frontend, check-frontend-code-lines, check-tauri-rust-code-lines, rustfmt, clippy

chore: Updated the deprecated rand calls
  free-todo-frontend/src-tauri/Cargo.toml
  free-todo-frontend/src-tauri/src/backend_support.rs
  free-todo-frontend/src-tauri/src/tray.rs
Due: check-tauri-rust-code-lines, rustfmt, clippy

Squashed commit of the following:
  lifetrace/core/dependencies.py
  lifetrace/core/lazy_services.py
  lifetrace/routers/config.py
  lifetrace/routers/health.py
  lifetrace/routers/system.py
Due: check-backend-code-lines

fix: resize handle display
  free-todo-frontend/app/home/HomePageClient.tsx
  free-todo-frontend/components/island/IslandFullscreenContent.tsx
  free-todo-frontend/components/island/IslandSidebarContent.tsx
  free-todo-frontend/components/layout/PanelContainer.tsx
  free-todo-frontend/components/layout/PanelRegion.tsx
  free-todo-frontend/lib/hooks/usePanelResize.ts
  free-todo-frontend/lib/store/ui-store/store.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

chore: update wechat image
  .github/assets/wechat.png
Due: none

feat(frontend): streamline diary date + autosave
  free-todo-frontend/apps/diary/DiaryEditor.tsx
  free-todo-frontend/apps/diary/DiaryHeader.tsx
  free-todo-frontend/apps/diary/DiaryPanel.tsx
  free-todo-frontend/apps/diary/journal-utils.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

fix(install): fix pnpm script interpolation
  scripts/install.ps1
Due: none

fix(ci): use pr head for install checks
  .github/workflows/dev-build-verify.yml
Due: none

fix(tauri): add dist prebuild
  free-todo-frontend/package.json
  free-todo-frontend/scripts/tauri-prebuild.js
  free-todo-frontend/src-tauri/tauri.conf.json
  free-todo-frontend/src-tauri/tauri.island.pyinstaller.json
  free-todo-frontend/src-tauri/tauri.island.script.json
  free-todo-frontend/src-tauri/tauri.web.pyinstaller.json
  free-todo-frontend/src-tauri/tauri.web.script.json
Due: none

fix(frontend): adjust diary date + layout
  free-todo-frontend/apps/diary/DiaryEditor.tsx
  free-todo-frontend/apps/diary/DiaryPanel.tsx
  free-todo-frontend/apps/diary/journal-utils.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

fix(install): drop ref alias
  scripts/install.ps1
Due: none

fix(ci): add linux appindicator deps
  .github/workflows/dev-build-verify.yml
Due: none

fix(install): drop mode alias
  scripts/install.ps1
Due: none

fix(ci): add linux appimage deps
  .github/workflows/dev-build-verify.yml
Due: none

feat(frontend): add shared date-only picker
  free-todo-frontend/apps/diary/DiaryEditor.tsx
  free-todo-frontend/apps/diary/DiaryPanel.tsx
  free-todo-frontend/components/date-picker/DateOnlyPickerCalendar.tsx
  free-todo-frontend/components/date-picker/DateOnlyPickerPopover.tsx
  free-todo-frontend/components/date-picker/date-picker-utils.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

fix(frontend): append copy-to-original
  free-todo-frontend/apps/diary/DiaryPanel.tsx
Due: tsc-free-todo-frontend, check-frontend-code-lines

fix: autoLinkMessage disabled
  free-todo-frontend/apps/diary/DiaryEditor.tsx
Due: tsc-free-todo-frontend, check-frontend-code-lines

Squashed commit of the following:
  .github/workflows/dev-build-verify.yml
  free-todo-frontend/package.json
  free-todo-frontend/scripts/tauri-prebuild.js
  free-todo-frontend/src-tauri/tauri.conf.json
  free-todo-frontend/src-tauri/tauri.island.pyinstaller.json
  free-todo-frontend/src-tauri/tauri.island.script.json
  free-todo-frontend/src-tauri/tauri.web.pyinstaller.json
  free-todo-frontend/src-tauri/tauri.web.script.json
  scripts/install.ps1
Due: none

fix(ci): add linuxdeps for tauri appimage
  .github/workflows/dev-build-verify.yml
Due: none

docs: Added PowerShell equivalents for every example in both install docs, using env vars to mirror the bash flags while keeping the one‑liner iwr ... | iex style.
  .github/INSTALL.md
  .github/INSTALL_CN.md
Due: none

Path conditions:
  tsc-free-todo-frontend: any of: ^free-todo-frontend/.*\.(ts|tsx)$
  check-frontend-code-lines: any of: ^free-todo-frontend/.*\.(ts|tsx)$
  check-backend-code-lines: any of: ^lifetrace/.*\.py$
  check-tauri-rust-code-lines: any of: ^free-todo-frontend/src-tauri/.*\.rs$
  rustfmt: any of: ^free-todo-frontend/src-tauri/.*\.rs$
  clippy: any of: ^free-todo-frontend/src-tauri/.*\.rs$
