Repository Zeeeepa/LifeTrace: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc-free-todo-frontend, check-frontend-code-lines, check-backend-code-lines, check-tauri-rust-code-lines, rustfmt, clippy

tsc-free-todo-frontend:
  name: TypeScript type check (free-todo-frontend)
  entry: bash -c 'cd free-todo-frontend && pnpm run type-check'
  language: system
  pass_filenames: false

check-frontend-code-lines:
  name: Check frontend TS/TSX code lines (max 500)
  entry: node free-todo-frontend/scripts/check_code_lines.js --include apps,components,electron,lib --exclude lib/generated
  language: system
  pass_filenames: true

check-backend-code-lines:
  name: Check backend Python code lines (max 500)
  entry: uv run python lifetrace/scripts/check_code_lines.py --include lifetrace --exclude lifetrace/__pycache__,lifetrace/dist,lifetrace/migrations/versions
  language: system
  pass_filenames: true

check-tauri-rust-code-lines:
  name: Check Tauri Rust code lines (max 500)
  entry: node free-todo-frontend/scripts/check_rust_code_lines.js --include src-tauri/src --exclude src-tauri/target
  language: system
  pass_filenames: true

rustfmt:
  name: Rust format (rustfmt)
  entry: python scripts/precommit_rustfmt.py
  language: python
  pass_filenames: false

clippy:
  name: Rust linter (clippy)
  entry: python scripts/precommit_clippy.py
  language: python
  pass_filenames: false

fix: 更新 pyright 配置，添加更多排除项以优化类型检查
  pyrightconfig.json
Due: none

feat: update color themes in ThemeStyleSelect and localization files
  free-todo-frontend/app/globals.css
  free-todo-frontend/components/common/theme/ThemeStyleSelect.tsx
  free-todo-frontend/lib/i18n/messages/en.json
  free-todo-frontend/lib/i18n/messages/zh.json
  free-todo-frontend/lib/store/color-theme.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

fix: 更新 pre-commit 配置，优化 Bandit 和 Pyright 的文件匹配规则
  .pre-commit-config.yaml
Due: none

fix: 更新 LifeTrace 模式的面板配置，调整面板功能映射和状态
  free-todo-frontend/lib/store/ui-store/layout-presets.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

feat: add reminder functionality to todos
  free-todo-frontend/apps/calendar/CalendarPanel.tsx
  free-todo-frontend/apps/calendar/components/QuickCreatePopover.tsx
  free-todo-frontend/apps/todo-detail/TodoDetail.tsx
  free-todo-frontend/apps/todo-detail/components/MetaSection.tsx
  free-todo-frontend/components/common/ReminderOptions.tsx
  free-todo-frontend/lib/i18n/messages/en.json
  free-todo-frontend/lib/i18n/messages/zh.json
  free-todo-frontend/lib/query/todos.ts
  free-todo-frontend/lib/reminders.ts
  free-todo-frontend/lib/types/index.ts
  lifetrace/config/default_config.yaml
  lifetrace/jobs/deadline_reminder.py
  lifetrace/migrations/versions/add_todo_reminder_offsets_001.py
  lifetrace/schemas/todo.py
  lifetrace/services/todo_service.py
  lifetrace/storage/models.py
  lifetrace/storage/notification_storage.py
  lifetrace/storage/todo_manager.py
Due: tsc-free-todo-frontend, check-frontend-code-lines, check-backend-code-lines

已修正：Popover 现在只会在你点到时间 Slot 时出现，并且就贴在该 Slot 附近，而不是点日期才触发。周/日视图的旧日期弹窗也已移除，避免干扰。
  free-todo-frontend/apps/calendar/CalendarPanel.tsx
  free-todo-frontend/apps/calendar/components/TimelineColumn.tsx
  free-todo-frontend/apps/calendar/components/TimelineCreatePopover.tsx
  free-todo-frontend/apps/calendar/components/TimelineSlot.tsx
  free-todo-frontend/apps/calendar/components/TimelineTodoCard.tsx
  free-todo-frontend/apps/calendar/views/DayView.tsx
  free-todo-frontend/apps/calendar/views/WeekView.tsx
  free-todo-frontend/lib/i18n/messages/en.json
  free-todo-frontend/lib/i18n/messages/zh.json
Due: tsc-free-todo-frontend, check-frontend-code-lines

fix(frontend): handle timeline clicks at column level
  free-todo-frontend/apps/calendar/components/TimelineColumn.tsx
  free-todo-frontend/apps/calendar/components/TimelineSlot.tsx
  free-todo-frontend/apps/calendar/components/TimelineTodoCard.tsx
Due: tsc-free-todo-frontend, check-frontend-code-lines

feat(automation): add custom scheduled tasks
  free-todo-frontend/apps/settings/SettingsPanel.tsx
  free-todo-frontend/apps/settings/components/AutomationTasksSection.tsx
  free-todo-frontend/apps/settings/components/index.ts
  free-todo-frontend/lib/i18n/messages/en.json
  free-todo-frontend/lib/i18n/messages/zh.json
  free-todo-frontend/lib/query/automation.ts
  free-todo-frontend/lib/query/index.ts
  free-todo-frontend/lib/query/keys.ts
  free-todo-frontend/lib/types/index.ts
  lifetrace/core/module_registry.py
  lifetrace/jobs/job_manager.py
  lifetrace/migrations/versions/add_automation_tasks_001.py
  lifetrace/routers/automation.py
  lifetrace/schemas/automation.py
  lifetrace/services/automation_task_service.py
  lifetrace/storage/__init__.py
  lifetrace/storage/automation_task_manager.py
  lifetrace/storage/database.py
  lifetrace/storage/models.py
Due: tsc-free-todo-frontend, check-frontend-code-lines, check-backend-code-lines

fix(uv race): 给 uv run 加了 --no-sync，并让这 3 个 hooks 串行执行，避免并发竞态。
  .pre-commit-config.yaml
Due: none

feat(frontend): implement journal panel
  free-todo-frontend/apps/diary/DiaryHeader.tsx
  free-todo-frontend/apps/diary/DiaryPanel.tsx
  free-todo-frontend/apps/diary/DiarySettings.tsx
  free-todo-frontend/apps/diary/DiaryTabs.tsx
  free-todo-frontend/apps/diary/index.ts
  free-todo-frontend/apps/diary/journal-utils.ts
  free-todo-frontend/apps/diary/types.ts
  free-todo-frontend/lib/i18n/messages/en.json
  free-todo-frontend/lib/i18n/messages/zh.json
  free-todo-frontend/lib/plugins/registry.ts
  free-todo-frontend/lib/query/index.ts
  free-todo-frontend/lib/query/journals.ts
  free-todo-frontend/lib/query/keys.ts
  free-todo-frontend/lib/store/journal-store.ts
  free-todo-frontend/lib/types/index.ts
  lifetrace/core/dependencies.py
  lifetrace/llm/journal_generation_service.py
  lifetrace/migrations/versions/add_journal_panel_001.py
  lifetrace/repositories/interfaces.py
  lifetrace/repositories/sql_journal_repository.py
  lifetrace/routers/journal.py
  lifetrace/schemas/journal.py
  lifetrace/services/journal_service.py
  lifetrace/storage/database_base.py
  lifetrace/storage/journal_manager.py
  lifetrace/storage/migrations/journal_migration.py
  lifetrace/storage/models.py
Due: tsc-free-todo-frontend, check-frontend-code-lines, check-backend-code-lines

chore(agents.md): worktree should sync with dev branch.
  AGENTS.md
Due: none

fix(GitHub Actions): Updated the workflow to run each pre-commit hook separately, added the missing system dependency for pyaudio, and fixed the pnpm workspace config so pnpm install works in CI.
  .github/workflows/pre-commit.yml
  free-todo-frontend/pnpm-workspace.yaml
Due: none

fix(backend): merge alembic heads
  lifetrace/migrations/versions/merge_heads_journal_todo_20260203.py
Due: check-backend-code-lines

fix(frontend): unify schedule popover
  free-todo-frontend/apps/todo-detail/TodoDetail.tsx
  free-todo-frontend/apps/todo-detail/components/DatePickerPopover.tsx
  free-todo-frontend/apps/todo-detail/components/MetaSection.tsx
  free-todo-frontend/lib/i18n/messages/en.json
  free-todo-frontend/lib/i18n/messages/zh.json
  free-todo-frontend/lib/query/todos.ts
  free-todo-frontend/lib/types/index.ts
Due: tsc-free-todo-frontend, check-frontend-code-lines

Squashed commit of the following:
  .gitignore
  README.md
  free-todo-frontend/package.json
  free-todo-frontend/src-tauri/.tauri-lint-dist/.gitkeep
  free-todo-frontend/src-tauri/Cargo.toml
  free-todo-frontend/src-tauri/src/backend.rs
  free-todo-frontend/src-tauri/src/backend_paths.rs
  free-todo-frontend/src-tauri/src/backend_proxy.rs
  free-todo-frontend/src-tauri/src/backend_python.rs
  free-todo-frontend/src-tauri/src/backend_support.rs
  free-todo-frontend/src-tauri/src/config.rs
  free-todo-frontend/src-tauri/src/lib.rs
  free-todo-frontend/src-tauri/tauri.lint.json
  free-todo-frontend/src-tauri/tauri.web.script.json
  scripts/install.ps1
  scripts/install.sh
  scripts/precommit_clippy.py
Due: check-tauri-rust-code-lines, rustfmt, clippy

docs: update readme
  README.md
Due: none

fix(scripts): default install ref to dev-liji
  README.md
  README_CN.md
  scripts/install.ps1
  scripts/install.sh
  scripts/install_web.ps1
  scripts/install_web.sh
Due: none

fix(install): support ref override flags
  README.md
  README_CN.md
  scripts/install.ps1
  scripts/install.sh
  scripts/install_web.ps1
  scripts/install_web.sh
Due: none

fix(install): default to main branch
  README.md
  README_CN.md
  scripts/install.ps1
  scripts/install.sh
  scripts/install_web.ps1
  scripts/install_web.sh
Due: none

fix(install): checkout ref in existing clones
  scripts/install.ps1
  scripts/install.sh
  scripts/install_web.ps1
  scripts/install_web.sh
Due: none

fix(install): force checkout ref
  scripts/install.ps1
  scripts/install.sh
  scripts/install_web.ps1
  scripts/install_web.sh
Due: none

refactor(install): unify installer and remove web scripts
  README.md
  README_CN.md
  scripts/install.ps1
  scripts/install.sh
  scripts/install_web.ps1
  scripts/install_web.sh
Due: none

fix: delete unused audio dependency
  README.md
  README_CN.md
  lifetrace/core/module_registry.py
  pyproject.toml
  requirements-runtime.txt
  uv.lock
Due: check-backend-code-lines

chore: pyright mode change from "basic" to "standard"
  pyrightconfig.json
Due: none

ci: expand pre-commit matrix and deps
  .github/workflows/pre-commit.yml
Due: none

ci: add gtk deps for rust clippy
  .github/workflows/pre-commit.yml
Due: none

ci: normalize code line checks and deps
  .github/workflows/pre-commit.yml
  free-todo-frontend/scripts/check_code_lines.js
  free-todo-frontend/scripts/check_rust_code_lines.js
  lifetrace/scripts/check_code_lines.py
Due: check-backend-code-lines

fix(config): add linux deps for rust pre-commit
  .github/workflows/pre-commit.yml
Due: none

fix(backend): coerce is_all_day for todo responses
  lifetrace/storage/todo_manager_ical.py
Due: check-backend-code-lines

fix(frontend): handle windows child kill mut
  free-todo-frontend/src-tauri/src/backend.rs
Due: check-tauri-rust-code-lines, rustfmt, clippy

Squashed commit of the following:
  .github/dependabot.yml
  .github/workflows/bandit.yml
  .github/workflows/dependency-review.yml
  .github/workflows/pre-commit.yml
Due: none

chore(ci): allow manual dependency review
  .github/workflows/dependency-review.yml
Due: none

收到，暂停。后续我会以 `upstream` 作为云端目标，不再用 `origin`。
  .github/workflows/pre-commit.yml
Due: none

fix(ci): surface alembic heads failures
  .github/workflows/pre-commit.yml
Due: none

chore(config): add dependabot targets for dev branches
  .github/dependabot.yml
Due: none

chore(config): limit dependabot to main and dev
  .github/dependabot.yml
Due: none

fix(ci): dump alembic heads output on failure
  .github/workflows/pre-commit.yml
Due: none

Path conditions:
  tsc-free-todo-frontend: any of: ^free-todo-frontend/.*\.(ts|tsx)$
  check-frontend-code-lines: any of: ^free-todo-frontend/.*\.(ts|tsx)$
  check-backend-code-lines: any of: ^lifetrace/.*\.py$
  check-tauri-rust-code-lines: any of: ^free-todo-frontend/src-tauri/.*\.rs$
  rustfmt: any of: ^free-todo-frontend/src-tauri/.*\.rs$
  clippy: any of: ^free-todo-frontend/src-tauri/.*\.rs$
